<section class="uk-padding-remove-top" uk-scrollspy="cls:uk-animation-fade; target: > div; delay: 350; repeat: false;">
    <div 
        class="uk-background-cover uk-background-center-center" 
        style="background-image: url({$page->featured_image->first->url});"
        uk-height-viewport="expand: false">
    </div>
</section>